<h1>[`Generation of Subproducts`]</h1>

<div class="fields form">
    <form action="?module=plugins&id=subproducts&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}
        <!--<div class="field">
            <div class="name">[`Enable`]</div>
            <div class="value" style="margin: 2px 0 8px 240px">
                <input type="checkbox" name="shop_subproducts[enabled]" value="1"{if isset($settings.enabled)} checked{/if}>
            </div>
        </div>-->

        <div class="field">
            <div class="value submit" style="margin: 20px 0">
                <input type="submit" class="button green" value="[s`Save`]">
                <span id="plugins-settings-form-status" style="display:none"></span>
            </div>
        </div>
    </form>
</div>
