{include './layout/header.html' inline}

<h1 class="title">{$current.breadcrumbs|replace:'>':'/'}</h1>

<form action="?plugin=subproducts&category={$current.id}" method="post">
    <div class="s-product-form main fields form">
        <div class="field-group">
            <div class="field">
                <div class="name">[`Prefix`]</div>
                <div class="value">
                    <input class="long s-product-name-input" name="form[prefix]" type="text" value="{$settings.prefix|default:''}">
                </div>
            </div>
        </div>

        <div class="field-group">
            <div class="field">
                <div class="name">[`Suffix`]</div>
                <div class="value">
                    <input class="long s-product-name-input" name="form[suffix]" type="text" value="{$settings.suffix|default:''}">
                </div>
            </div>
        </div>

        <div class="block bordered-top">
            <input type="submit" class="button green" value="[s`Save`]" id="s-product-save-button">
            &nbsp;
            {if $settings.prefix or $settings.suffix}
            <a class="button green" href="?plugin=subproducts&category={$current.id}&action=generate">
                [`Generation of Subproducts`]
            </a>
            {/if}
            &nbsp;&nbsp;
            {if $products->getCount()}
            <a class="button green" href="?plugin=subproducts&category={$current.id}&action=remove">
                [`Remove Subproducts`] ({$products->getCount()})
            </a>
            {/if}
        </div>
    </div>

    <input type="hidden" name="form[id]" value="{$settings.id|default:0}">
    <input type="hidden" name="form[category_id]" value="{$current.id}">
</form>

{if $products->hasPages()}
    <div style="padding: 15px 0 20px">
        [`Pages`]:

        {foreach $products->getPages() as $page}
            {if $page == null}
                <span>...</span>
            {elseif $page == waRequest::get('page', 1)}
                <span>{$page}</span>
            {else}
                <a href="?plugin=subproducts&category={$current.id}&page={$page}">{$page}</a>
            {/if}
        {/foreach}
    </div>
{/if}

{if $products->getCount()}
    <table class="zebra single-lined" id="product-list">
        <thead>
            <tr class="header">
                <th class="min-width">[`Product ID`]</th>
                <th>[`Product Name`]</th>
                <th class="min-width"></th>
            </tr>
        </thead>

        <tbody>
            {foreach $products as $product}
                <tr>

                    <td>#{$product.id}</td>
                    <td>{$product.name}</td> <!--|replace:'Array':''-->
                    <td>
                        <a class="show-on-hover nowrap" href="?action=products#/product/{$product.id}/edit/" target="_blank" title="Редактировать">
                            <i class="icon16 edit s-instant-edit"></i>
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/if}

{include './layout/footer.html' inline}
