<link rel="stylesheet" href="/wa-apps/shop/plugins/subproducts/assets/css/subproducts.css">

<div class="sidebar left300px subproducts__sidebar" id="s-sidebar">
    <div class="block">
        <h5 class="heading"><i class="icon16 darr"></i>[`Categories`]</h5>

        {if !empty($categories)}
            {$categories_rights = $wa->userRights('setscategories')}
            {$depth = -1}

            {foreach $categories as $category}
                {if $category.depth < $depth}
                    {section name="end-category" loop = $depth - $category.depth}</li></ul>{/section}
                    {$depth = $category.depth}
                {/if}

                {if $category.depth == $depth}</li><li{if isset($category.active)} class="active"{/if}>{/if}
                {if $category.depth > $depth}<ul class="menu-v with-icons"><li{if isset($category.active)} class="active"{/if}>{$depth = $category.depth}{/if}

                <span class="counters">
                    <span class="count">{if $category.include_sub_categories|default:false}{$category.total_count}{else}{$category.count}{/if}</span>
                </span>

                <a href="?plugin=subproducts&category={$category.id}">
                    <i class="icon16 folder"></i><span class="name">{$category.name|escape}</span>
                </a>
            {/foreach}

            {section name="end-category" loop = $depth + 1}</li></ul>{/section}
        {/if}
    </div>

    <!-- plugin hook: 'backend_subproducts.sidebar_section' -->
    {* @event backend_subproducts.%plugin_id%.sidebar_section *}
    {if !empty($backend_subproducts)}
        {foreach $backend_subproducts as $_}
            {ifset($_.sidebar_section)}
        {/foreach}
    {/if}
</div>

<div class="content left300px blank" id="s-content">
    <div class="block double-padded">
